h1 {
  margin-left: 10px;
}

div {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: auto;
  width: auto;
  max-height: 50vh;
}

article {
  p {
    margin: 50px;
  }
}
