<img [src]="heroImage" alt="main banner with image of pizza">
<h1>Let's talk pizza!</h1>

<section>
  <article *ngFor="let image of images">
    <p>
      Bbq rib white pizza ranch chicken wing, pepperoni garlic platter chicken and bacon steak stuffed crust lasagna
      pizza mushrooms fresh tomatoes sausage. White garlic garlic sauce peppers philly chicken chicken wing chicken
      banana peppers hawaiian bbq sauce mushrooms garlic pepperoni. Lasagna anchovies Chicago style, NY style burnt
      mouth bbq sauce broccoli. Banana peppers extra sauce onions black olives mozzarella pesto. Melted cheese white
      pizza large pepperoni spinach broccoli meat lovers. Pineapple extra cheese burnt mouth, mayo red onions deep crust
      mushrooms parmesan chicken wing broccoli large thin crust pesto fresh tomatoes. Sauteed onions ranch fresh
      tomatoes pepperoni garlic parmesan peppers, garlic sauce sausage extra cheese chicken wing spinach platter white
      pizza.
    </p>
    <p>
      Platter hand tossed ranch pan onions string cheese extra sauce mozzarella bbq sauce steak large chicken wing pie
      peppers. White pizza marinara bbq rib personal white garlic, meat lovers pork parmesan lasagna philly steak
      chicken and bacon bbq sauce mushrooms pepperoni. Garlic parmesan lasagna large chicken wing mozzarella meatball
      sausage pork mushrooms bbq. Pizza roll large sauteed onions philly chicken platter thin crust. Extra cheese red
      onions anchovies bbq rib peppers large meat lovers.
    </p>
    <img [src]="image" alt="random image of pizza">
  </article>
</section>
