:host {
  position: relative;
  display: block;
}

h1 {
  margin-left: 10px;
}

.hero {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  position: relative;
  height: 500px;
}

img {
  width: 100%;
  object-fit: cover;
}

article {
  p {
    margin: 50px;
  }
}
